@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@*<h3>@ViewData["Title"]</h3>*@
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div style="width:30%">
    </div>
    <div style="width:40%">
        <br />
        <h3 class="text-md-center">Change password</h3>
        <hr />
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="row w-100 ps-md-1">
                <p>
                    <a id="forgot-password" asp-area="Identity" asp-page="/Account/ForgotPassword">Forgot your password?</a>
                </p>
            </div>
            <div class="w-100 d-md-flex justify-content-md-end">
                <button type="submit" class="w-30 btn btn-md btn-primary">Update password</button>
            </div>
        </form>
    </div>
    <div style="width:30%">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
