@page
@using Microsoft.AspNetCore.Identity
@using ForAdventure.Service.IService
@using System.Security.Policy;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IApplicationUserService service;


@using ForAdventure.Service.Utility
@model IndexModel

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div style="width:20%">
    </div>
    <div class="col-md" style="width:60%">
        <br />
        <h3>@ViewData["Title"]</h3>
        <br />
        <br />
        <form id="profile-form" method="post" class="border-start border-end ps-md-3 pe-md-3" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="row mb-3 align-items-md-center">
                <div class="col-md-4 ">
                    <div class="col-md">
                        <div class="d-md-flex justify-content-md-center mb-md-2">
                            @if (service.GetImageURLByEmail(UserManager.GetUserName(User)) == null)
                            {
                                <img src="~/images/profilePicture/withoutImage.jpg"
                                     class="img-fluid rounded-circle border border-dark border-3" style="width: 80px; height:80px" />
                            }
                            else
                            {
                                <img src="@service.GetImageURLByEmail(UserManager.GetUserName(User))"
                                     class="img-fluid rounded-circle border border-dark border-3"
                                     style="width: 80px; height:80px" />
                            }
                        </div>
                        <div class="d-md-flex justify-content-md-center">
                            <input type="file" id="uploadBox" alt="Change picture" name="file" class=" border border-dark border-2" style="width:80px" />
                        </div>
                    </div>
                </div>
                <div class="col-md-5 form-floating">
                    <input asp-for="Input.NameInApplication" class="form-control " aria-required="true" placeholder="Username" />
                    <label asp-for="Input.NameInApplication">Username</label>
                    <span asp-validation-for="Input.NameInApplication" class="text-danger"></span>
                </div>
            </div>
            <div class="row pt-md-5" >
                <div class="col-md-6 form-floating ">
                    <input asp-for="Input.Name" class="form-control " aria-required="true" placeholder="Name" />
                    <label asp-for="Input.Name">Name</label>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-floating ">
                    <input asp-for="Input.LastName" class="form-control " aria-required="true" placeholder="Last name" />
                    <label asp-for="Input.LastName">Last name</label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row pt-md-5 ">
                <div class="form-floating mb-3" style="width:70%">
                    <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="Email" disabled />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="text-md-center" style="width:30%">
                    <a asp-area="Identity" asp-page="/Account/Manage/Email" class="w-100 pt-md-3 btn btn-md btn-outline-primary" style="height:80%">Change Email</a>
                </div>
            </div>
            <div class="row pt-md-5 ">
                <div class="col-md-6 form-floating">
                    <input asp-for="Input.City" class="form-control " aria-required="true" placeholder="City" />
                    <label asp-for="Input.City">City</label>
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-floating ">
                    <input asp-for="Input.Address" class="form-control " aria-required="true" placeholder="Address" />
                    <label asp-for="Input.Address">Address</label>
                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div>
            </div>
            <div class="row pt-md-5">
                <div class="col-md-6 form-floating ">
                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                    <label asp-for="Input.PhoneNumber">Phone number</label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-floating">
                    <input asp-for="Input.DateRegistration" class="form-control" aria-required="true" placeholder="DateRegistration" disabled />
                    <label asp-for="Input.DateRegistration">Date of registration</label>
                    <span asp-validation-for="Input.DateRegistration" class="text-danger"></span>
                </div>
            </div>
            <div class="row pt-md-5">
                <div class="mb-3 w-100 d-md-flex ps-md-4 justify-content-md-end">
                    <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword" class="w-50 btn btn-md btn-outline-primary">Change Password</a>
                </div>
            </div>
            @if (User.IsInRole(SD.AdminRole))
            {
                <div class="w-100 d-md-flex justify-content-md-end pt-md-3">
                    <button id="update-profile-button" type="submit" class=" btn btn-md btn-primary me-md-4" style="width:30%">Save</button>
                    <a asp-area="Admin" asp-controller="ApplicationUser" asp-action="Index" class="btn btn-md btn-outline-secondary" style="width:30%">Back to user list</a>
                </div>
            }
            else
            {
                <div class="w-100 d-md-flex justify-content-md-end pt-md-3">
                    <button id="update-profile-button" type="submit" class="w-25 btn btn-md btn-primary">Save</button>
                </div>
            }
            
        </form>
    </div>
    <div style="width:20%">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
