@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div style="width:30%">
    </div>
    <div style="width:40%">
        <br />
        <h3 class="text-center">Set your password</h3>
        <br />
        <p class="text-info">
            You do not have a local password for this site. Add a local
            account so you can log in without an external login.
        </p>
        <hr />
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" placeholder="Please enter your new password." />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Please confirm your new password." />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-md btn-primary">Set password</button>
        </form>
    </div>
    <div style="width:30%">
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
