@model Room
<div class="d-flex justify-content-center">
	<form method="post" style="width:70%">
		<div class="border p-3 mt-4">
			<div class="row pb-2">
				<h2 class="text-primary">Room details</h2>
				<hr />
			</div>
			<div class="row">
				<div class="mb-3 col-sm-6">
					<label asp-for="NumOfBeds">Number of beds</label>
					<input asp-for="NumOfBeds" class="form-control" />
					<span asp-validation-for="NumOfBeds" class="text-danger"></span>
				</div>
				<div class="mb-3 col-sm-6">
					<label asp-for="PricePerNight">Price per night</label>
					<input asp-for="PricePerNight" class="form-control" />
					<span asp-validation-for="PricePerNight" class="text-danger"></span>
				</div>

			</div>
			<input asp-for="HotelId" value="@ViewBag.HotelId" class="form-control" hidden />
			<div class="mb-3">
				<label asp-for="RoomTypeId"></label>
				<select asp-for="RoomTypeId" asp-items="ViewBag.RoomTypeList" class="form-select">
					<option disabled selected>--Select room type--</option>
				</select>
				<span asp-validation-for="RoomTypeId" class="text-danger"></span>
			</div>
			<div>
				<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
				<a asp-controller="Room" asp-action="Index" asp-route-HotelId="@ViewBag.HotelId" class="btn btn-secondary" style="width:150px">View listed rooms</a>
			</div>
		</div>
	</form>
</div>