@using ForAdventure.Service.IService;
@model IEnumerable<Report>

@inject IApplicationUserService service;

<div class="container p-3" enctype="multipart/form-data">
    <div class="row p-4 d-md-flex align-items-md-center">
        <div class="col p-6">
            <h2 class="text-primary">Reported Users</h2>
            <br />
        </div>
    </div>
    <hr />
    <table class="table  table-striped" style="width:100%">
        <thead>
            <tr>
                <th>

                </th>
                <th class=" text-md-center">Username</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @if(service.GetProfilePictureById(obj.ReportedId) ==null)
                        {
                            <img src="~/images/profilePicture/withoutImage.jpg"
                            class="img-fluid rounded-circle border border-dark border-3" style="width: 80px; height:80px" />
                        }
                        else
                        {
                            <img src="\@service.GetProfilePictureById(obj.ReportedId)" class="img-fluid rounded-circle border border-dark border-3"
                                 style="width: 80px; height:80px" />
                        }
                    </td>
                    <td class="align-middle text-md-center">
                        @service.GetUserById(obj.ReportedId)
                    </td>
                    <td class="text-end">
                        <div class="w-75px btn-group" role="group">
                            <a asp-area="Admin" asp-controller="Report" asp-action="Details" asp-route-id="@obj.Id"
                               class="btn btn-md btn-primary mx-2"><i class="bi bi-pencil-fill"></i>Details</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


